/*product_list*/
.product_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}
.home_product{
    width: 1220px;
    margin-bottom: 50px;
}
.home_product img{
    width: 100%;
}



.product_list{
    background:#F7F7F7;
}

/*product_mian*/
.product_main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1220px;
}
.product_main > p{
    font-size: 18px;
    color: #797b79;
}
/*product*/
.product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 1220px;
    background: #F7F7F7;
    font-size: 14px;
    color: #868686;
}
.product > div {
    width: 23%;
}

.product_link{
    margin-bottom: 50px;
}
.product_link a img {
    width: 100%;
}
.product_link > p {
    text-align: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

