body {
    font-family: PingFangSC-Regular, serif;
}

/*header*/
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 1220px;
    height: 79px;
    background: #FFFFFF;
}

.logo img {
    width: 181px;
    height: 40px;
    margin-top: 22px;
    margin-left: 40px;
}

.goods-list > a {
    font-size: 14px;
    color: #050505;
    margin-left: 40px;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.goods-list > a:hover {
    color: #2aabd2;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #b9def0;
    height: 45px;
}

.search input {
    border: none;
    height: 43px;
}

.search img {
    margin-right: 11px;
}

/*header*/

/*banner*/
.banner {
    position: relative;
    overflow: auto;
}
.banner li{
    list-style: none;
}
.banner ul li {
    float: left;
}

/*banner*/

/*sub_banners*/
.sub_banners {
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-width: 1220px;
    margin-top: 10px;
}

.sub_banner {
    width: 24.5%
}

/*sub_banners*/

/*pages*/
.pages {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 45px;
    font-size: 14px;
    color: #050505;
}

.pages_content {
    margin-left: 70px;
}

.pages_alink {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.pages_alink > a {
    color: #050505;
    margin-top: 5px;
    text-decoration: none;
}

.pages_alink > a:first-child {
    margin-top: 10px;
}

.pages_alink > a:hover {
    color: #2aabd2;
}

.pages_content > p {
    border-bottom: 1px solid #979797;
    padding-bottom: 12px;
    padding-right: 10px;
    margin: 0;
}

/*pages*/

/*footer*/
.footer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #ECECEC;
    height: 80px;
    margin-top: 45px;
}

.footer_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
}

.left_alink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 900px;
    margin-top: 20px;
}

.left_alink > a {
    text-decoration: none;
    font-size: 12px;
    color: #797B79;
    margin: 0 15px;
}

.left_alink > a:first-child {
    margin-left: 0;
}

.left_alink > a:hover {
    color: #2aabd2;
}

.bottom_link {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #797B79;
    padding-top: 6px;
}

.bottom_link > img{
    margin: 0 8px;
}

.bottom_link > a{
    font-size: 12px;
    color: #797B79;
    text-decoration: none;
}

.footer_right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.footer_right > img {
    width: 100%;
    margin: 0 10px;
}

